<footer id="footer" class="container-fluid py-5 bg-light">
    <div class="row justify-content-center text-center">
        <div class="col">
            <h4>follow kosmosia.shop for updates</h4>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-1"><a href="#" class="fa fa-facebook"></a></div>
        <div class="col-1"><a href="https://www.instagram.com/kosmosia.shop/" class="fa fa-instagram"></a></div>
        <div class="col-1"><a href="#" class="fa fa-twitter"></a></div>
    </div>
</footer>