<ul class="nav justify-content-center fixed-top">
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="shop.html">All</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Enamel Pins</a>
            <a class="dropdown-item" href="#">Keychains</a>
            <a class="dropdown-item" href="#">Airpod Cases</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            Cart <span id="shoppingCount" class="badge badge-pill badge-light">0</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="faq.html">FAQ</a>
    </li>
</ul>